<ion-view view-title="Music">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="song in musics" type="item-text-wrap" ng-href="#/tab/musics/{{song.id}}">
        

        

        <img ng-src="{{song.face}}">
        <h2>{{song.name}}</h2>
        <p>{{song.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(song)">
          Delete
        </ion-option-button>
      




      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
