<ion-view view-title="Drama">
  <ion-content>
    <ion-list>
    

      <div class="list">

        



        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-chatbubble-working"></i>
          Watch Drama
          <i class="icon ion-ios-telephone-outline"></i>
        </a>

        
        
        
        
        <li class="item item-toggle">
          <a class="ion-ios-lightbulb"></a>
          <span style="color:black"> Comment Box</span>
          <label class="toggle toggle-assertive">
            <input type="checkbox" ng-model="commentOn">
            
            <div class="track">
              <div class="handle"></div>
            </div>
          
          </label>
        </li>


        <a class="item item-icon-left" href="#">
          <i class="icon ion-mic-a"></i>
          Record album
          <span class="item-note">
            Grammy
          </span>
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-person-stalker"></i>
          Friends
          <span class="badge badge-assertive">0</span>
        </a>




      </div> 


    </ion-list>
  </ion-content>
</ion-view>



